<div class="row slider-container">
    <div class="col-lg-8 col-sm-8">
      <div class="left-content">
        <p>{{ currentText }}</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="right-icons">
        <ul>
          <li><a href="https://www.tiktok.com/@morrhtech_solutions_?_t=ZM-8t3mUyQ4Mk9&_r=1"><i class="fa-brands fa-tiktok"></i></a></li>
          <li><a href="https://www.instagram.com/morrhtech_solutions_?igsh=NjJtZGIzdzhxOTRj&utm_source=qr"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://web.facebook.com/Morrhtech"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  