
<!-- IT Talent Acquisition Page -->
<section class="hero-section" style="background-image: url('../../../../../assets/images/background.jpeg'); height: 500px;">
  <div class="overlay">
  </div>
  <div class="container">
   <div class="content">
    <h1>
     Top IT Talent Tailored to Your Needs
    </h1>
    <p style="color: rgb(235, 235, 235);">
     We connect you with highly skilled tech professionals to drive your business success.
    </p>
    <div class="main-button-red anim-slide-bottom">
      <div
        class="scroll-to-section"
        style="padding-bottom: 30px !important"
      >
        <a href="/contact">Request Talent Now</a>
      </div>
    </div>
   </div>
  </div>
 </section>

   <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <!-- Brief Description Section -->
            <div class="col-lg-12">
              <div class="web-development-services mt-4 mb-5">
                <h3 class="text-center">What is IT Talent Acquisition?</h3>
                <p class="text-center">
                  At Morrhtech Solutions, we specialize in finding the right IT professionals for your organization, leveraging our extensive network and cutting-edge tools to identify top talent.
                </p>
              </div>
            </div>

            <!-- Heading for the Services Offered -->
            <div class="col-lg-12">
              <h3 class="text-center text-primary mb-4">Our Talent Acquisition Services</h3>
            </div>

            <!-- Services Cards -->
            <div class="col-lg-12">
              <div class="row grid">
                <!-- Service Item -->
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                      <div class="thumb">
                          <a><img src="../../../../../assets/images/talent_hiring.jpeg" alt=""></a>
                        </div>
                    <div class="down-content">
                      <a>
                        <h4>IT Leadership Hiring</h4>
                        <p style="color: white;">
                          Find experienced CTOs, project managers, and IT leaders.
                         </p>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Service Item -->
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                      <div class="thumb">
                          <a><img src="../../../../../assets/images/talent_skill.jpeg" alt=""></a>
                        </div>
                    <div class="down-content">
                      <a>
                        <h4>Specialized Skill Acquisition</h4>
                        <p style="color: white;">Hire developers, data scientists, and cybersecurity experts.</p>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Service Item -->
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                      <div class="thumb">
                          <a><img src=".../../../../../../../assets/images/talent_team.jpeg" alt=""></a>
                        </div>
                    <div class="down-content">
                      <a>
                        <h4>Team Expansion</h4>
                        <p style="color: white;">Scale your team with the best tech talent in the industry.</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="container mb-5 mt-5 py-5">
              <h2 class="section-header text-center font-weight-bold" style="color: white;">
               Our 4-Step Talent Acquisition Process
              </h2>
              <div class="row">
               <div class="col-md-3" style="margin-bottom: 20px;">
                <div class="process-step web-development-services">
                 <div>
                  <h3>
                    Identify Needs
                   </h3>
                   <p>
                    Understand your business goals.
                   </p>
                 </div>
                </div>
               </div>
               <div class="col-md-3" style="margin-bottom: 20px;">
                <div class="process-step web-development-services">
                 <h3>
                  Search &amp; Screen
                 </h3>
                 <p>
                  Leverage our network to shortlist candidates.
                 </p>
                </div>
               </div>
               <div class="col-md-3" style="margin-bottom: 20px;">
                <div class="process-step web-development-services">
                 <h3>
                  Interviews &amp; Assessments
                 </h3>
                 <p>
                  Comprehensive technical and soft skills evaluation.
                 </p>
                </div>
               </div>
               <div class="col-md-3" style="margin-bottom: 20px;">
                <div class="process-step web-development-services">
                 <h3>
                  Onboarding Support
                 </h3>
                 <p>
                  Smooth integration of new hires into your team.
                 </p>
                </div>
               </div>
              </div>
             </div>

            <!-- Client Benefits -->
            <div class="col-lg-12">
              <h3 class="text-center text-primary mb-4">Why Partner with Morrhtech Solutions for IT Talent Acquisition?</h3>
            </div>

            <!-- Client Cards -->
            <div class="col-lg-12">
              <div class="row grid">
                <!-- Client Item -->
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="down-content">
                      <a>
                        <h4>Access to a global talent pool</h4>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Client Item -->
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="down-content">
                      <a>
                        <h4>Expertise in tech industry trends</h4>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Client Item -->
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="down-content">
                      <a>
                        <h4>Efficient and timely placements</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Call to Action Section -->
            <div class="col-lg-12 mt-5 text-center">
              <div class="cta">
                <div class="main-button-red anim-slide-bottom">
                  <div
                    class="scroll-to-section"
                    style="padding-bottom: 30px !important"
                  >
                    <a href="/contact">Request Talent Now</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Call to Action Section -->
          </div>
        </div>
      </div>
    </div>

    <!-- Common Form Section -->
     <app-talent-form></app-talent-form>