<section class="heading-page header-text" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- <h6>Services</h6> -->
          <h2>Services</h2>
          <h6>Explore all our Services</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <!-- <div class="col-lg-12">
              <div class="filters">
                <ul>
                  <li data-filter="*"  class="active">All Meetings</li>
                  <li data-filter=".soon">Soon</li>
                  <li data-filter=".imp">Important</li>
                  <li data-filter=".att">Attractive</li>
                </ul>
              </div>
            </div> -->
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="/IT-hiring"><img src="../../../../assets/images/itHring.jpeg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <a href="/IT-hiring"><h4>IT Hiring</h4></a>
                      <p>Find top tech talent quickly and efficiently<br>for your business needs.</p>
                    </div>                    
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all imp">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="/services/custom-software"><img src="../../../../assets/images/software_dev.jpeg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <a href="/services/custom-software"><h4>Software Development</h4></a>
                      <p>Building innovative software solutions<br>tailored to your business needs.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="/services/it-talent-acquisition"><img src="../../../../assets/images/tech_talent.jpeg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <a href="/services/it-talent-acquisition"><h4>Tech Talent</h4></a>
                      <p>Discover and connect with<br>top-tier technology professionals.</p>
                    </div>
                    
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all att">
                  <div class="meeting-item">
                    <div class="thumb">
                      <a href="/services/tech-consulting"><img src="../../../../assets/images/tech_consult.jpeg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <a href="/services/tech-consulting"><h4>Tech Consulting</h4></a>
                      <p>Expert guidance to help your business<br>leverage the latest technology.</p>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com/" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com/" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div> -->
  </section>