<!-- footer area -->
<footer class="footer-area">
  <div class="footer-widget">
      <div class="container">
          <div class="row footer-widget-wrapper pt-100 pb-70">
              <div class="col-md-6 col-lg-4">
                  <div class="footer-widget-box about-us">
                    <div class="col-lg-3">
                      <a href="" class="logo">
                        <div class="d-flex align-items-center">

                          <div class="d-flex flex-column ml-3">
                           <div class="d-flex">
                            <span class="logo-text text-red h4 mb-0">
                             MORRHTECH
                            </span>
                           </div>
                           <span class="logo-text text-white h4">
                            &nbsp;SOLUTIONS
                           </span>
                          </div>
                         </div>
                      </a>
                  </div>
                      <p class="mb-20">
                        Morrhtech Solutions is a leading provider of innovative tech solutions, offering services in web development, software solutions, IT consulting, and professional training.
                        Our mission is to empower individuals and businesses with cutting-edge technology and skills for a brighter digital future. <br><br>
                        As a proud CompTIA Partner, we ensure globally recognized standards in IT training and certifications, helping our students and clients achieve unparalleled success in the tech industry
                      </p>

                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget-box">
                      <h4 class="footer-widget-title">Contact Us</h4>
                      <ul class="footer-contact">
                          <li><i class="fas fa-map-marker-alt"></i>7th avenue, AA close, GCL Plaza beside Total Energies Filling Station Festac town.</li>
                          <li><a href="tel:+23409049283653"><i class="fas fa-phone"></i>0904 928 3653</a></li>
                          <li><a href="mailto:morrhtechsocials@gmail.com"><i class="far fa-envelope"></i>morrhtechsocials@gmail.com</a>
                          </li>
                          <li><i class="far fa-clock"></i>Mon - Sun (24/7)</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-2">
                  <div class="footer-widget-box list">
                      <h4 class="footer-widget-title">Quick Links</h4>
                      <ul class="footer-list">
                          <li><a href="about"><i class="fas fa-caret-right"></i> About Us</a></li>
                          <li><a href="Services"><i class="fas fa-caret-right"></i> Services</a></li>
                          <li><a href="training-programs"><i class="fas fa-caret-right"></i> Training Programs</a></li>
                          <li><a href="contact-us"><i class="fas fa-caret-right"></i> Contact Us</a></li>
                          <li><a href="careers"><i class="fas fa-caret-right"></i> Careers</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget-box list">
                      <h4 class="footer-widget-title">Social Media</h4>
                      <div class="footer-newsletter">
                          <p>Follow us on social media for updates, insights, and the latest in tech!</p>
                          <ul class="footer-social">
                            <li><a href="https://web.facebook.com/Morrhtech" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/morrhtech_solutions_?igsh=NjJtZGIzdzhxOTRj&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.tiktok.com/@morrhtech_solutions_?_t=ZM-8t3mUyQ4Mk9&_r=1" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                            <li><a href="https://wa.me/2349049283653" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <p class="copyright-text">
                  &copy; 2025 <span id="date"></span> <a href="">Morrhtech Solutions  </a>. All Rights Reserved
                </p>
            </div>

        </div>
    </div>
</div>
</footer>
<!-- footer area end -->
